@import url('base.css');
@import url('skeleton.css');
@import url('layout.css');
/**
 * Typesetting
 */
body {
  font-family: 'Arvo', serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', sans-serif;
}
header h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bolder;
}

li {
  font-family: 'Ubuntu Condensed', sans-serif;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Alignment
 */
h1 {
  text-align: center;
}
